* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: rgb(45, 45, 110);
}

h1,
a {
    background-color: rgb(197, 221, 242);
    color: rgb(45, 45, 110);
}

h1 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px;
    border: 1px solid rgb(45, 45, 110);
    text-decoration: none;
}
